.inputWrapper {
  background-color: transparent !important;
  color: #fff !important;
  &:focus {
    background-color: transparent;
    border: 1px solid yellow !important;
    color: #fff;
  }
  color: #fff;
  &::placeholder {
    font-size: 14px;
  }
}

select option {
  background: #000;
  color: #fff;
}
