button {
  outline: none;
  &:focus {
    outline: none;
  }
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.fs-60 {
  font-size: 60px;
}
.linkBtn {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  font-size: 14px;
}
.primaryBtn {
  background-color: transparent;
  outline: none;
  border: 1px solid #ededed;
  height: 40px;
  padding: 0px 20px;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.sectionWithBg {
  background-color: #f5f5f5;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.errorText {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
.description {
  line-height: 2rem;
  color: #000;
  font-size: 14px;
}
// header

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 400;
  &.headerSticky {
    background-color: #000;
  }
  .desktopMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    li {
      a {
        padding: 2px 20px;
        color: #fff;
        font-weight: bold;
        @media (max-width: 1440px) {
          padding: 2px 10px;
        }
        @media (max-width: 1366px) {
          padding: 2px 8px;
          font-size: 12px;
        }
        @media (max-width: 1240px) {
          padding: 2px 8px;
          font-size: 12px;
        }
        @media (max-width: 1024px) {
          padding: 2px 5px;
          font-size: 12px;
        }
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .mobMenu {
    background-color: #fff;
    padding: 20px;
    margin: 0;
  }
  .mobMenuIcon {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}

// footer
.footer {
  background-color: #000;
  padding: 20px;
  color: #fff;
}

//events
.eventBg {
  background-color: #ccc;
  padding: 10px;
}
.eventImg {
  width: 200px;
  height: 120px;
  img {
    height: 100%;
    width: 100%;
    display: block;
  }
}

// faq
.tabFaq {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  li {
    button {
      width: 100%;
      border-radius: 0;
      border: none;
      text-align: left;
      border-bottom: 1px solid #ddd;
      &:focus {
        outline: none;
        border: none;
      }
      &.nav-link {
        border-radius: 0px;
        margin-bottom: 0px;
        color: #000;
        &.active {
          border: none;
          color: red;
        }
      }
    }
  }
}

// accordian
.accordion-item {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-top: 1px solid #ddd;
  button {
    background-color: red;
    color: #fff;
    &:not(.collapsed) {
      background-color: #f5f6f5;
      color: #000;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// operations

.operation-tab {
  border: none;
  button {
    &:focus {
      outline: none;
      border: none;
    }
    &.nav-link {
      color: #777;
      &:hover {
        border: 1px solid transparent;
      }
      &.active {
        border: none;
        color: red;
        border-bottom: 2px solid red;
      }
    }
  }
}
